@import "tailwindcss";
@plugin "daisyui" {
    themes: night --default, dark --prefersdark, sunset;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

mapbox-address-autofill {
    width: 100%;
}

@keyframes spin-slow-twice {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg); 
  }
}

.spin-twice {
  width: 50%;
  height: 50%;
  animation: spin-slow-twice 15s linear infinite;
}
